@{
    ViewBag.Title = "Greska 404";
    Layout = "~/Views/front-end/layout/_404.cshtml";
}




<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Greska 404</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/assets/front/404/css/drvo.css">
    <div>
        <h1><font color="#60af77"><center>GRESKA 404!<br />POGRESAN UNOS</center></h1>
    </div>
</head>
<body>


    <div class="slika">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             width="566.93px" height="566.929px" viewBox="0 0 566.93 566.929" enable-background="new 0 0 566.93 566.929"
             xml:space="preserve">
        <g>   
        <g id="prikazi" style="display:none" class="crtanje">
        <g>
        <g>
        <path class="path1" fill="none" stroke="#C1272D" stroke-width="1.5" stroke-miterlimit="10" d="M396.417,230.976
                        c-57.616,9.676-37.423,46.393-35.079,50.324c7.043-25.171,25.473-42.576,25.473-42.576c-15.826,21.6-20.369,36.651-21.657,42.917
                        C408.312,280.337,396.417,230.976,396.417,230.976z" />







                </g>
        <g>
        <path class="path1" fill="none" stroke="#C1272D" stroke-width="1.5" stroke-miterlimit="10" d="M353.626,258.04
                        c-2.214-3.749-4.894-7.856-8.146-12.295c0,0,3.938,3.723,8.595,10.118c0.917-3.691,2.515-6.909,4.62-9.713
                        c-5.033-2.901-11.918-5.319-21.251-6.887c0,0-8.869,36.841,20.584,41.837C354.317,274.164,352.334,265.813,353.626,258.04z" />







                </g>
            </g>
        <g>
        <g>
        <path class="path1" fill="none" stroke="#F15A24" stroke-width="1.5" stroke-miterlimit="10" d="M280.536,169.384
                        c-58.231-4.73-47.646,35.814-46.337,40.199c12.994-22.68,35.125-35.04,35.125-35.04c-20.634,17.065-28.726,30.545-31.509,36.305
                        C279.979,220.155,280.536,169.384,280.536,169.384z" />







                </g>
        <g>
        <path class="path1" fill="none" stroke="#F15A24" stroke-width="1.5" stroke-miterlimit="10" d="M232.419,185.143
                        c-1.228-4.177-2.82-8.816-4.886-13.916c0,0,2.906,4.574,5.854,11.915c1.793-3.354,4.13-6.083,6.858-8.286
                        c-4.169-4.045-10.252-8.076-18.917-11.882c0,0-17.623,33.547,9.709,45.604C229.141,200.944,229.263,192.363,232.419,185.143z" />







                </g>
            </g>
        <g>
        <g>
        <path class="path1" fill="none" stroke="#2E3192" stroke-width="1.5" stroke-miterlimit="10" d="M425.092,289.933
                        c-39.783,6.04-26.274,31.545-24.702,34.276c5.122-17.26,18.003-29.044,18.003-29.044c-11.134,14.702-14.425,25.02-15.38,29.321
                        C432.749,324.055,425.092,289.933,425.092,289.933z" />







                </g>
        <g>
        <path class="path1" fill="none" stroke="#2E3192" stroke-width="1.5" stroke-miterlimit="10" d="M395.33,308.107
                        c-1.484-2.606-3.285-5.464-5.477-8.556c0,0,2.672,2.606,5.809,7.061c0.672-2.532,1.808-4.729,3.287-6.638
                        c-3.435-2.053-8.148-3.793-14.559-4.973c0,0-6.509,25.275,13.721,29.034C395.631,319.219,394.356,313.446,395.33,308.107z" />







                </g>
            </g>
        <g>
        <g>
        <path fill="none" stroke="#93278F" stroke-width="1.5" stroke-miterlimit="10" d="M304.247,87.402
                        c-30.079,5.052-19.537,24.219-18.313,26.271c3.676-13.14,13.299-22.227,13.299-22.227c-8.264,11.277-10.635,19.134-11.307,22.405
                        C310.455,113.17,304.247,87.402,304.247,87.402z" />







                </g>
            </g>
        <g>
        <g>
        <path fill="none" stroke="#F7931E" stroke-width="1.5" stroke-miterlimit="10" d="M194.004,150.537
                        c-16.43,25.695,4.856,30.735,7.199,31.204c-7.279-11.542-7.563-24.772-7.563-24.772c2.821,13.692,7.057,20.721,9.032,23.414
                        C217.281,163.217,194.004,150.537,194.004,150.537z" />







                </g>
            </g>
        <g>
        <g>
        <path fill="none" stroke="#ED1C24" stroke-width="1.5" stroke-miterlimit="10" d="M155.761,123.643
                        c0.478,30.495,21.01,22.953,23.223,22.05c-12.439-5.608-19.977-16.485-19.977-16.485c9.908,9.862,17.32,13.387,20.453,14.543
                        C182.169,121.374,155.761,123.643,155.761,123.643z" />







                </g>
            </g>
        <g>
        <g>
        <path fill="none" stroke="#FBB03B" stroke-width="1.5" stroke-miterlimit="10" d="M179.654,208.992
                        c25.894,16.116,30.674-5.23,31.114-7.579c-11.452,7.419-24.678,7.865-24.678,7.865c13.656-2.988,20.634-7.31,23.303-9.317
                        C192.05,185.563,179.654,208.992,179.654,208.992z" />







                </g>
            </g>
        <g>
        <g>
        <path fill="none" stroke="#FBB03B" stroke-width="1.5" stroke-miterlimit="10" d="M137.948,178.327
                        c18.043,41.867,42.116,19.739,44.659,17.231c-20.386-0.658-37.003-11.391-37.003-11.391c19.314,7.979,31.564,8.624,36.553,8.435
                        C173.146,160.136,137.948,178.327,137.948,178.327z" />







                </g>
            </g>
        <g>
        <g>
        <path fill="none" stroke="#F15A24" stroke-width="1.5" stroke-miterlimit="10" d="M336.06,198.773
                        c-13.257,30.402,10.464,32.18,13.061,32.284c-9.788-11.152-12.354-25.314-12.354-25.314
                        c5.369,14.224,11.118,21.049,13.699,23.604C363.224,208.417,336.06,198.773,336.06,198.773z" />







                </g>
            </g>
        <g>
        <g>
        <path fill="none" stroke="#ED1C24" stroke-width="1.5" stroke-miterlimit="10" d="M394.714,187.48
                        c-52.578,8.84-34.146,42.343-32.006,45.93c6.425-22.971,23.241-38.858,23.241-38.858c-14.44,19.717-18.583,33.451-19.758,39.17
                        C405.576,232.525,394.714,187.48,394.714,187.48z" />







                </g>
            </g>
        <g>
        <g>
        <path fill="none" stroke="#F7931E" stroke-width="1.5" stroke-miterlimit="10" d="M364.081,146.94
                        c-21.766,30.038,3.722,37.662,6.534,38.397c-8.022-14.529-7.431-30.614-7.431-30.614c2.456,16.826,7.104,25.66,9.31,29.068
                        C391.446,163.983,364.081,146.94,364.081,146.94z" />







                </g>
            </g>
        <g>
        <g>
        <path fill="none" stroke="#00A99D" stroke-width="1.5" stroke-miterlimit="10" d="M417.228,236.906
                        c-21.767,30.037,3.72,37.662,6.533,38.397c-8.021-14.529-7.431-30.614-7.431-30.614c2.456,16.826,7.104,25.659,9.311,29.067
                        C444.592,253.949,417.228,236.906,417.228,236.906z" />







                </g>
            </g>
        <g>
        <g>
        <path fill="none" stroke="#22B573" stroke-width="1.5" stroke-miterlimit="10" d="M468.771,250.914
                        c-27.644-18.397-33.554,4.67-34.109,7.212c12.708-7.693,27.114-7.737,27.114-7.737c-14.961,2.795-22.695,7.268-25.666,9.362
                        C454.502,275.996,468.771,250.914,468.771,250.914z" />







                </g>
            </g>
        <g>
        <g>
        <path fill="none" stroke="#006837" stroke-width="1.5" stroke-miterlimit="10" d="M453.674,207.346
                        c-32.138,8.351-18.879,28.129-17.354,30.237c2.734-14.601,12.302-25.371,12.302-25.371c-7.886,13.017-9.707,21.764-10.124,25.375
                        C462.866,234.7,453.674,207.346,453.674,207.346z" />







                </g>
            </g>
        <g>
        <g>
        <path fill="none" stroke="#0071BC" stroke-width="1.5" stroke-miterlimit="10" d="M470.81,313.387
                        c-21.569-30.179-36.895-8.435-38.484-6c16.324-2.992,31.389,2.677,31.389,2.677c-16.735-3.015-26.587-1.414-30.521-0.404
                        C445.957,333.921,470.81,313.387,470.81,313.387z" />







                </g>
            </g>
        <g>
        <g>
        <path fill="none" stroke="#29ABE2" stroke-width="1.5" stroke-miterlimit="10" d="M466.658,271.256
                        c-35.424-11.008-34.492,15.578-34.287,18.478c11.197-12.249,26.626-16.836,26.626-16.836
                        c-15.155,7.711-22.037,14.942-24.561,18.124C459.27,302.636,466.658,271.256,466.658,271.256z" />







                </g>
            </g>
        <g>
        <g>
        <path fill="none" stroke="#1B1464" stroke-width="1.5" stroke-miterlimit="10" d="M440.981,343.625
                        c-15.223-33.827-34.52-15.514-36.557-13.439c16.594,0.271,30.251,8.789,30.251,8.789c-15.816-6.242-25.791-6.608-29.847-6.391
                        C412.581,358.88,440.981,343.625,440.981,343.625z" />







                </g>
            </g>
        <g>
        <g>
        <path fill="none" stroke="#662D91" stroke-width="1.5" stroke-miterlimit="10" d="M324.53,276.866
                        c-36.62-5.914-31.956,20.276-31.346,23.12c9.362-13.704,23.99-20.417,23.99-20.417c-13.918,9.768-19.714,17.894-21.765,21.4
                        C321.631,308.975,324.53,276.866,324.53,276.866z" />







                </g>
            </g>
        <g>
        <g>
        <path fill="none" stroke="#0000FF" stroke-width="1.5" stroke-miterlimit="10" d="M271.976,282.604
                        c-2.736,23.986,14.149,20.16,15.979,19.678c-9.192-5.672-14-14.978-14-14.978c6.771,8.751,12.23,12.273,14.571,13.501
                        C292.936,283.516,271.976,282.604,271.976,282.604z" />







                </g>
            </g>
        <g>
        <g>
        <path fill="none" stroke="#39B54A" stroke-width="1.5" stroke-miterlimit="10" d="M123.56,251.37
                        c-4.429,45.375,27.338,37.63,30.777,36.664c-17.53-10.425-26.894-27.852-26.894-27.852c13.055,16.317,23.47,22.8,27.928,25.046
                        C163.166,252.448,123.56,251.37,123.56,251.37z" />







                </g>
            </g>
        <g>
        <g>
        <path fill="none" stroke="#FCEE21" stroke-width="1.5" stroke-miterlimit="10" d="M132.496,231.389
                        c26.83,18.198,32.799-4.274,33.364-6.75c-12.473,7.402-26.541,7.323-26.541,7.323c14.63-2.603,22.221-6.903,25.14-8.922
                        C146.64,207.021,132.496,231.389,132.496,231.389z" />







                </g>
            </g>
        <g>
        <g>
        <path fill="none" stroke="#FCEE21" stroke-width="1.5" stroke-miterlimit="10" d="M113.2,191.71
                        c-3.128,32.269,19.459,26.747,21.904,26.057c-12.472-7.405-19.138-19.792-19.138-19.792
                        c9.291,11.598,16.701,16.202,19.872,17.797C141.366,192.458,113.2,191.71,113.2,191.71z" />







                </g>
            </g>
        <g>
        <g>
        <path fill="none" stroke="#FCEE21" stroke-width="1.5" stroke-miterlimit="10" d="M88.471,232.53
                        c19.945,25.558,32.525,6.004,33.825,3.821c-14.144,3.215-27.507-1.18-27.507-1.18c14.723,2.016,23.268,0.253,26.666-0.772
                        C109.414,213.683,88.471,232.53,88.471,232.53z" />







                </g>
            </g>
        <g>
        <g>
        <path fill="none" stroke="#8CC63F" stroke-width="1.5" stroke-miterlimit="10" d="M87.979,307.243
                        c30.711,10.386,30.472-12.865,30.356-15.402c-10.048,10.46-23.626,14.136-23.626,14.136c13.407-6.41,19.576-12.579,21.85-15.305
                        C95.113,279.987,87.979,307.243,87.979,307.243z" />







                </g>
            </g>
        <g>
        <g>
        <path fill="none" stroke="#39B54A" stroke-width="1.5" stroke-miterlimit="10" d="M109.778,364.463
                        c44.473-24.675,17.239-48.939,14.172-51.484c1.532,22.701-8.538,42.337-8.538,42.337c6.714-22.323,6.069-35.994,5.308-41.51
                        C85.682,327.411,109.778,364.463,109.778,364.463z" />







                </g>
            </g>
        <g>
        <g>
        <path fill="none" stroke="#006837" stroke-width="1.5" stroke-miterlimit="10" d="M180.081,391.618
                        c28.636-15.888,11.1-31.513,9.126-33.151c0.986,14.619-5.498,27.262-5.498,27.262c4.323-14.375,3.909-23.178,3.417-26.729
                        C164.564,367.76,180.081,391.618,180.081,391.618z" />







                </g>
            </g>
        <g>
        <g>
        <path fill="none" stroke="#009245" stroke-width="1.5" stroke-miterlimit="10" d="M107.181,391.561
                        c31.84,7.654,29.483-15.713,29.138-18.257c-9.157,11.438-22.482,16.37-22.482,16.37c12.904-7.669,18.55-14.436,20.589-17.384
                        C111.878,363.49,107.181,391.561,107.181,391.561z" />







                </g>
            </g>
        <g>
        <g>
        <path fill="none" stroke="#8CC63F" stroke-width="1.5" stroke-miterlimit="10" d="M62.819,351.013
                        c35.319,0.419,27.239-23.591,26.266-26.181c-6.889,14.222-19.719,22.602-19.719,22.602
                        c11.732-11.156,16.047-19.625,17.485-23.215C61.033,320.37,62.819,351.013,62.819,351.013z" />







                </g>
            </g>
        <g>
        <g>
        <path fill="none" stroke="#D9E021" stroke-width="1.5" stroke-miterlimit="10" d="M53.063,307.285
                        c14.804,20.77,25.359,5.832,26.455,4.159c-11.227,2.044-21.579-1.867-21.579-1.867c11.503,2.087,18.278,0.995,20.983,0.306
                        C70.167,293.188,53.063,307.285,53.063,307.285z" />







                </g>
            </g>
        <g>
        <g>
        <path fill="none" stroke="#8CC63F" stroke-width="1.5" stroke-miterlimit="10" d="M92.156,267.569
                        c14.803,20.77,25.358,5.831,26.454,4.159c-11.227,2.043-21.578-1.868-21.578-1.868c11.502,2.088,18.278,0.995,20.983,0.306
                        C109.26,253.472,92.156,267.569,92.156,267.569z" />







                </g>
            </g>
        <g>
        <g>
        <path fill="none" stroke="#D9E021" stroke-width="1.5" stroke-miterlimit="10" d="M66.291,245.164
                        c14.051,18.006,22.915,4.23,23.829,2.692c-9.963,2.264-19.378-0.832-19.378-0.832c10.372,1.419,16.392,0.179,18.785-0.544
                        C81.045,231.887,66.291,245.164,66.291,245.164z" />







                </g>
            </g>
        <g>
        <g>
        <path fill="none" stroke="#D9E021" stroke-width="1.5" stroke-miterlimit="10" d="M63.735,276.79
                        c22.083,5.831,20.802-10.5,20.6-12.278c-6.563,7.833-15.931,11.064-15.931,11.064c9.117-5.146,13.158-9.777,14.625-11.802
                        C67.446,257.29,63.735,276.79,63.735,276.79z" />







                </g>
            </g>
        <g>
        <g>
        <path fill="none" stroke="#FBB03B" stroke-width="1.5" stroke-miterlimit="10" d="M96.886,172.207
                        c9.87,22.899,23.036,10.796,24.427,9.424c-11.151-0.359-20.239-6.23-20.239-6.23c10.563,4.365,17.264,4.717,19.992,4.614
                        C116.139,162.258,96.886,172.207,96.886,172.207z" />







                </g>
            </g>
        <g>
        <g>
        <path fill="none" stroke="#FCEE21" stroke-width="1.5" stroke-miterlimit="10" d="M77.075,208.872
                        c18.88,16.289,25.438-0.349,26.089-2.191c-10.187,4.546-20.927,3.235-20.927,3.235c11.409-0.688,17.591-3.298,20.001-4.582
                        C90.048,191.513,77.075,208.872,77.075,208.872z" />







                </g>
            </g>
        <g>
        <g>
        <path fill="none" stroke="#F7931E" stroke-width="1.5" stroke-miterlimit="10" d="M130.4,147.631
                        c12.071,28.009,28.175,13.206,29.876,11.528c-13.637-0.44-24.754-7.621-24.754-7.621c12.921,5.339,21.116,5.77,24.453,5.644
                        C153.947,135.462,130.4,147.631,130.4,147.631z" />







                </g>
            </g>
        <g>
        <g>
        <path fill="none" stroke="#ED1C24" stroke-width="1.5" stroke-miterlimit="10" d="M212.261,122.115
                        c-5.52,29.996,16.095,26.631,18.442,26.181c-11.097-7.942-16.352-20.087-16.352-20.087c7.779,11.616,14.354,16.527,17.2,18.275
                        C238.602,125.075,212.261,122.115,212.261,122.115z" />







                </g>
            </g>
        <g>
        <g>
        <path fill="none" stroke="#C1272D" stroke-width="1.5" stroke-miterlimit="10" d="M203.216,96.534
                        c-28.894,9.764-15.443,27.014-13.908,28.846c1.542-13.558,9.6-24.056,9.6-24.056c-6.367,12.445-7.46,20.58-7.605,23.916
                        C213.439,120.989,203.216,96.534,203.216,96.534z" />







                </g>
            </g>
        <g>
        <g>
        <path fill="none" stroke="#93278F" stroke-width="1.5" stroke-miterlimit="10" d="M248.251,93.269
                        c-28.894,9.764-15.442,27.015-13.908,28.846c1.543-13.558,9.6-24.056,9.6-24.056c-6.368,12.445-7.459,20.58-7.605,23.916
                        C258.474,117.723,248.251,93.269,248.251,93.269z" />







                </g>
            </g>
        <g>
        <g>
        <path fill="none" stroke="#9E005D" stroke-width="1.5" stroke-miterlimit="10" d="M274.739,113.978
                        c-41.85,14.142-22.368,39.128-20.145,41.781c2.235-19.638,13.905-34.843,13.905-34.843c-9.223,18.026-10.806,29.808-11.016,34.64
                        C289.547,149.398,274.739,113.978,274.739,113.978z" />







                </g>
            </g>
        <g>
        <g>
        <path fill="none" stroke="#662D91" stroke-width="1.5" stroke-miterlimit="10" d="M315.848,143.609
                        c-23.011-20.019-31.115,0.3-31.923,2.549c12.484-5.509,25.612-3.852,25.612-3.852c-13.956,0.784-21.531,3.944-24.484,5.503
                        C299.893,164.776,315.848,143.609,315.848,143.609z" />







                </g>
            </g>
        <g>
        <g>
        <path fill="none" stroke="#C1272D" stroke-width="1.5" stroke-miterlimit="10" d="M313.602,187.089
                        c-6.947-29.698-25.408-17.963-27.379-16.612c13.348,2.838,23.023,11.864,23.023,11.864c-11.776-7.532-19.768-9.4-23.075-9.865
                        C288.278,194.919,313.602,187.089,313.602,187.089z" />







                </g>
            </g>
        <g>
        <g>
        <path fill="none" stroke="#1B1464" stroke-width="1.5" stroke-miterlimit="10" d="M319.265,268.507
                        c-6.946-29.699-25.408-17.964-27.379-16.613c13.348,2.837,23.024,11.864,23.024,11.864c-11.777-7.531-19.769-9.4-23.076-9.864
                        C293.941,276.336,319.265,268.507,319.265,268.507z" />







                </g>
            </g>
        <g>
        <g>
        <path fill="none" stroke="#0071BC" stroke-width="1.5" stroke-miterlimit="10" d="M290.232,219.541
                        c-21.567,21.568-1.859,31.062,0.328,32.024c-4.63-12.836-2.065-25.819-2.065-25.819c-0.187,13.978,2.441,21.753,3.792,24.807
                        C310.241,236.925,290.232,219.541,290.232,219.541z" />







                </g>
            </g>
        <g>
        <g>
        <path fill="none" stroke="#009245" stroke-width="1.5" stroke-miterlimit="10" d="M177.642,325.201
                        c0,0-19.411,8.553-49.653-23.063c0,0,34.385-19.536,54.74-2.214c0,0,6.705,6.233-0.377,11.04l-34.371-4.611l33.391,8.334
                        C181.372,314.688,186.636,320.629,177.642,325.201z" />







                </g>
        <g>
        <path fill="none" stroke="#009245" stroke-width="1.5" stroke-miterlimit="10" d="M185.875,339.317
                        c0,0-6.125,51.063-55.475,22.674c34.134-6.05,16.515-35.435,54.633-32.263c0,0-7.503,25.828-29.556,34.54
                        C155.477,364.269,172.876,364.926,185.875,339.317z" />







                </g>
        <g>
        <path fill="none" stroke="#009245" stroke-width="1.5" stroke-miterlimit="10" d="M196.095,288.528
                        c0,0,14.104-49.454-42.385-42.365c29.136,18.783,1.523,39.064,37.9,50.881c0,0,3.073-26.717-13.895-43.281
                        C177.715,253.763,194.016,259.888,196.095,288.528z" />







                </g>
            </g>
            </g>
        </g> 
        <path fill="#42210B" d="M401.94,334.104c-8.862,10.111-15.528,21.973-24.554,32.074c-9.071,10.154-19.11,19.754-29.733,28.275
            c-10.527,8.443-22.024,15.913-33.942,22.238c-4.725,2.51-9.568,4.673-14.462,6.702c2.51-10.747,6.336-21.16,11.828-30.863
            c5.194-9.177,11.699-17.369,19.73-24.23c7.793-6.657,16.813-11.701,24.402-18.62c17.578-16.023,17.046-36.644,10.171-57.87
            c-0.417-1.281-2.49-1.125-2.438,0.33c0.427,12.001,1.941,26.157-4.912,36.741c-5.775,8.92-16.313,13.448-25.216,18.531
            c-16.556,9.452-29.744,23.197-39.077,39.646c0.048-4.665,0.097-9.327,0.147-13.989c0.236-22.398,0.221-44.791-1.42-67.139
            c-0.07-0.937-1.572-1.297-1.762-0.237c-3.808,21.335-6.127,42.885-8.132,64.457c-0.356,3.821-0.712,7.646-1.067,11.468
            c-3.402-9.869-7.775-19.406-13.225-28.458c-9.15-15.195-21.131-28.661-30.609-43.659c0.064-0.463,4.463-30.586,24.768-31.502
            c14.732-0.665,26.189-13.448,30.938-19.334c-4.961,4.253-17.371,11.087-35.096,15.025c-15.658,3.48-23.701,16.847-27.073,24.389
            c-0.345-0.692-0.698-1.378-1.026-2.078c-11.371-24.271-9.364-51.224,0.316-75.607c0.617-1.56-1.676-2.224-2.521-1.063
            c-14.998,20.623-19.156,48.386-13.734,73.031c5.943,27.005,23.958,48.479,37.264,72.026c6.375,11.278,10.771,23.297,13.635,35.695
            c-10.248-6.077-19.898-13.081-28.809-20.993c-17.558-15.595-35.389-34.629-46.912-55.212c-0.371-0.665-1.534-0.216-1.26,0.531
            c4.357,11.844,8.316,23.314,14.752,34.287c6.434,10.967,14.616,21.248,23.414,30.399c8.75,9.103,18.391,17.308,28.634,24.688
            c4.267,3.071,8.913,6.387,13.8,9.336c0.6,6.801,0.827,13.649,0.743,20.499c-0.169,13.795-1.495,27.571-3.704,41.187
            c-2.28,14.047-7.291,28.334-8.248,42.496c-0.736,10.908,7.913,25.542,19.742,23.311c6.932,3.092,15.36,2.674,20.592-3.496
            c1.282-1.512,1.842-3.333,1.846-5.115c1.111-1.084,1.938-2.483,2.26-4.235c2.322-12.701-2.317-27.005-3.895-39.696
            c-1.654-13.317-2.863-26.752-2.754-40.183c0.048-6.107,0.41-12.23,1.115-18.306c8.305-3.169,16.342-7.324,23.907-11.506
            c12.476-6.896,24.088-15.148,34.811-24.537c10.673-9.348,20.066-19.719,28.294-31.275c7.893-11.086,16.754-23.977,19.739-37.42
            C403.36,334.152,402.47,333.499,401.94,334.104z" />







        </svg>
    </div>

    <button onclick="prikazi_lisce()" id="mybutton">show</button>

    <button onclick="sakri_lisce()" id="mybutton">hide</button>


    <script src="~/assets/front/404/js/drvo.js"></script>

</body>
</html>


