


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>


        body {
            background-color: #f4f4d0;
        }

</style>
    </head >
       
 <body >
        <div >
                     <!--  <img src="liknuj stranicu" / > KOD AKO HOCES SLIKU-->
            @RenderBody()
        </div >
 </body >
        </html >
